.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
