:root {
  --rich_black: #02111b;
  --onyx: #3f4045;
  --black_coffee: #30292f;
  --cadet: #5d737e;
  --white: #fcfcfc;
}

* {
  box-sizing: border-box;
  user-select: none;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: var(--rich_black);
}

body {
  font-family: "Lato", sans-serif;
}
