.container {
  height: 64px;
  width: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  pointer-events: auto;
  cursor: pointer;
  word-break: break-all;
  transition: border-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: -11px 11px 4px rgba(0, 0, 0, 0.3);

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -7px;
    width: 7px;
    height: 65px;
    background: linear-gradient(to right, #999, #bbb);
    transform: skewY(135deg);
    transform-origin: top left;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: -1px;
    width: 39px;
    height: 7px;
    background: linear-gradient(to bottom, #bbb, #999);
    transform: skewX(135deg);
    transform-origin: top left;
    pointer-events: none;
  }
}

.is_selected {
  cursor: default;
}

.is_selected svg {
  color: pink !important;
}

.is_blocked {
  cursor: default;
}

.layer_badge {
  position: absolute;
  font-size: 10px;
  top: 0;
  left: 0;
  color: #a0a0a0;
}
